@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$text: #0f0f0f;
$background: #ffffff;
$primary: #155831;
$secondary: #d7e4dc;
$accent: #c20002;

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: $background;
  color: $text;
  min-height: 100vh;
}
